# macOS
.DS_Store
# node
node_modules
# bun
bun.lock
# cloudflare
.wrangler
# yarn2
.yarn
.pnp.cjs
.pnp.loader.mjs
static/dist
.env
 

cypress/screenshots
cypress/videos

 

# vscode
.vscode

# Local overrides
.dev.vars
