# macOS
.DS_Store
# node
node_modules
# yarn2
.yarn
.pnp.cjs
.pnp.loader.mjs
static/dist
.env
.dev.vars
.wrangler/

cypress/screenshots
cypress/videos

# Wrangler
.wrangler

# vscode
.vscode

# Cloudflare
.dev.vars