html,
body {
  background-color: #06061aff;
  margin: 0;
  padding: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABigAwAEAAAAAQAAABgAAAAAwf1XlwAAACNJREFUSA3t0IEAAAAMBKFHm7/UTaQQWnXDgAEDBgwYMGDgAXaJAz4RVVHYAAAAAElFTkSuQmCC");
}
* {
  font-family: "Proxima Nova", "Ubiquity Nova", sans-serif;
  color: #fff;
  font-weight: 400;
  /* opacity:0.875; */
}
@font-face {
  font-family: "Ubiquity Nova";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/ubiquity-nova-standard.eot);
  src:
    url(./fonts/ubiquity-nova-standard.eot#iefix) format("embedded-opentype"),
    url(./fonts/ubiquity-nova-standard.woff) format("woff"),
    url(./fonts/ubiquity-nova-standard.ttf) format("truetype");
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* background-color: #fff; */
    filter: blur(48px);
    margin-left: 100vw;
  }
  to {
    opacity: 0.75;
    /* background-color: transparent; */
    filter: blur(0px);
    margin-left: 1px;
  }
}

.issue-fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-timing-function: cubic-bezier(0, 1, 1, 1);
}

#issues-container {
  /* margin: 20px; */
  /* padding: 10px; */
  /* border: 1px solid #808080; */
  /* border-radius: 8px; */
  padding: 8px;
  /* border-left: 1px solid; */
  max-width: 640px;
  margin: auto;
  border-left: 1px solid #80808010;
}

#issues-container * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#issues-container > div:first-child {
  border-top: 1px solid #80808040;
}
#issues-container > div:last-child {
  border-bottom: 1px solid #80808040;
}
/* #issues-container > div:last-child {
  border-bottom: none;
} */
#issues-container > div {
  padding: 0 16px;
  border-bottom: 1px solid #80808040;
  /* opacity: 0.875 */
  /* margin: 24px auto; */
  /* line-height: 1; */
  overflow: hidden;
  border-left: 1px solid #80808040;
  border-right: 1px solid #80808040;
  cursor: pointer;
  /* width: 640px; */
}
#issues-container > div:hover {
  opacity: 1 !important;
  border-left: 4px solid #808080;
  padding-left: 13px;
  /* background: #80808020; */
}
#issues-container > div:active {
  border-left: 4px solid #fff;
  background: #80808020;
}

h3 {
  margin: 12px;
  line-height: 1;
  /* white-space: pre; */
  font-size: 16px;
  /* font-weight: 100; */
  /* text-align: left; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  text-overflow: ellipsis;
  vertical-align: middle;
}

p {
  margin: 0;
  line-height: 1;
  color: #ffffffbf;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.5px;
  text-rendering: geometricPrecision;
  /* position: absolute; */
  top: 0;
  right: 0;
}

.issue-element-inner {
  /* margin: 24px auto; */
  position: relative;
  text-align: left;
  display: flex;
  padding: 12px 0px;
}

p.organization-name {
  /* margin-bottom: 12px; */
  opacity: 0.5;
  /* transform: translateY(-50%); */
  display: inline-block;
}
p.repository-name {
  /* margin-top: 12px; */
  /* transform: translateY(50%); */
  display: inline-block;
  margin-left: 2px;
}
.labels > .label:first-child {
  margin-left: 0;
}
.labels > .label {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
  margin: 0px 4px 0px;
  font-size: 12px;
  /* font-weight: 400; */
  /* line-height: 1; */
  text-align: center;
  white-space: nowrap;
  /* vertical-align: baseline; */
  background-color: #80808040;
  /* color: #fff; */
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  /* cursor: pointer; */
  width: 64px;
  letter-spacing: 0.5px;
  flex-grow: 3;
}
.labels {
  text-align: right;
  display: inline-block;
  display: flex;
}

.partner {
  /* position: absolute; */
  bottom: 0;
  text-align: right;
  margin: 4px 4px 0;
}

body {
  text-align: center;
}
.info {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* transform: translateY(-25%); */
  /* padding: 10px; */
  /* z-index: -1; */
  /* width: 248px; */
  /* display: inline-block; */
}

.title {
  /* padding: 24px; */
  /* display: inline-block; */
  /* text-align: left; */
  /* position: absolute; */
  /* background: #ffffff10; */
  /* z-index: 1; */
  /* backdrop-filter: blur(4px); */
  /* flex-grow: 1; */
  /* vertical-align: middle; */
  display: flex;
}
