@media (prefers-color-scheme: dark) {
  html {
    background-color: #000410;
  }
  #toolbar.ready {
    background-color: #00041080;
  }
  #issues-container > div {
    background-color: #000410;
  }
  .preview {
    background-color: #000410;
  }
}
@media (prefers-color-scheme: light) {
  #toolbar.ready {
    background-color: #f0f0f080;
  }
  #grid {
    opacity: 0.25;
  }
  #issues-container > div {
    background-color: #f0f0f0;
  }
  .preview {
    background-color: #f0f0f0;
  }
}
