@media (orientation: portrait) {
  #filters {
    display: none;
  }
  .filters-container label:not([for="view-toggle"]) {
    width: 48px;
  }
}
@media (orientation: landscape) {
  #bottom-bar,
  #filters-bottom {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --grid-background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABigAwAEAAAAAQAAABgAAAAAwf1XlwAAACNJREFUSA3t0IEAAAAMBKFHm7/UTaQQWnXDgAEDBgwYMGDgAXaJAz4RVVHYAAAAAElFTkSuQmCC");
    --background-color-default-brightness: 2%;
    --background-color-light-brightness: 6%;
    --border-brightness: 5%;
    --background-color-default: hsl(225 50% var(--background-color-default-brightness) / 1);
    --background-color-light: hsl(225 50% var(--background-color-light-brightness) / 1);
    --border-color: hsl(225 25% var(--border-brightness) / 1);
  }
  #logo {
    height: 28px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #authenticated,
  #branding {
    opacity: 0.5;
    transition: 125ms opacity ease-in-out;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  #authenticated:hover,
  #branding:hover {
    opacity: 1;
  }
  #branding > span {
    padding: 4px;
    vertical-align: middle;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  * {
    font-family: "Proxima Nova", "Ubiquity Nova", sans-serif;
    color: #fff;
    font-weight: 500;
  }
  @font-face {
    font-family: "Ubiquity Nova";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ubiquity-nova-standard.eot);
    src:
      url(fonts/ubiquity-nova-standard.eot#iefix) format("embedded-opentype"),
      url(fonts/ubiquity-nova-standard.woff) format("woff"),
      url(fonts/ubiquity-nova-standard.ttf) format("truetype");
  }
  #issues-container {
    max-width: 640px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 56px 0;
    transition: 0.25s all cubic-bezier(0, 1, 1, 1);
  }
  body.preview-active #issues-container {
    transform: translateX(-50%);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  #issues-container .issue-element-inner {
    transition: 125ms opacity ease-out 62.5ms;
  }
  #issues-container:hover .issue-element-inner {
    opacity: 0.5;
  }
  #issues-container.keyboard-selection:hover .issue-element-inner {
    opacity: 1;
  }
  #issues-container * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #issues-container > div:first-child {
    border-top: 1px solid #80808020;
  }
  #issues-container > div:last-child {
    border-top: 1px solid #80808020;
  }
  #issues-container > div {
    padding: 0 16px;
    overflow: hidden;
    background-size: 56px;
    background-position: 0;
    background-repeat: no-repeat;
    opacity: 0.125;
    margin: 3px auto;
    border: 1px solid #80808020;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
    filter: blur(4px);
    display: block;
    /* border-color: var(--border-color); */
    /* box-shadow: inset 0 0 24px #00bfff10; */
  }
  #issues-container > div.selected,
  #issues-container > div.selected .info,
  #issues-container > div.selected h3 {
    opacity: 1;
  }
  #issues-container.keyboard-selection > div.active {
    opacity: 0.33;
  }
  #issues-container.keyboard-selection > div.active.selected {
    opacity: 1;
  }
  #issues-container > div.active {
    transition: 125ms all ease-in-out;
    opacity: 1;
    filter: blur(0);
  }
  #issues-container > div:hover {
    opacity: 1;
    transition: background-color 0s;
  }
  #issues-container > div:hover .info {
    opacity: 1;
  }
  #issues-container > div:hover .issue-element-inner {
    transition: 125ms opacity ease-in-out;
    opacity: 1;
  }
  #issues-container > div:active {
    background-color: #80808040;
  }
  #issues-container h3 {
    line-height: 1;
    font-size: 16px;
    text-overflow: ellipsis;
    margin: 0;
  }
  #issues-container p {
    text-align: right;
  }
  p {
    margin: 0;
    line-height: 1;
    color: #bfbfbf;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-rendering: geometricPrecision;
    top: 0;
    right: 0;
  }
  li {
    margin: 0;
    line-height: 1;
    color: #bfbfbf;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-rendering: geometricPrecision;
    top: 0;
    right: 0;
  }
  .issue-element-inner {
    position: relative;
    text-align: left;
    display: flex;
    padding: 12px 0;
    align-items: center;
  }
  p.organization-name {
    opacity: 0.5;
    display: inline-block;
  }
  p.repository-name {
    display: inline-block;
  }
  label:not([for="view-toggle"]):first-child {
    margin-left: 0;
  }
  label:not([for="view-toggle"]) {
    padding: 4px 6px;
    border-radius: 4px;
    margin: 0 4px 0;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    background-color: #80808020;
    width: 64px;
    letter-spacing: 0.5px;
    flex-grow: 4;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }
  input[type="radio"] {
    background-color: unset;
    cursor: default;
    appearance: unset;
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }

  label {
    cursor: pointer;
  }
  .filters-container label:not([for="view-toggle"]):hover {
    background-color: #80808040;
  }
  .filters-container label:not([for="view-toggle"]):active {
    background-color: #80808080;
  }
  input[type="radio"]:checked + label:not([for="view-toggle"]) {
    background-color: #80808080 !important;
  }
  .labels {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
  }
  .partner {
    bottom: 0;
    margin: 0;
  }
  body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .info {
    opacity: 0.66;
    transition: 125ms opacity ease-in-out;
    align-items: center;
  }
  #issues-container > .issue-element-wrapper {
    opacity: 0.5;
    transition: 0.33s all cubic-bezier(0, 1, 1, 1);
    filter: blur(8px);
  }
  button {
    appearance: unset;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    align-items: unset;
    cursor: pointer;
    box-sizing: unset;
    background-color: unset;
    margin: unset;
    padding-block: unset;
    padding-inline: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    border: 1px solid #80808020;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #80808010;
  }
  button:hover {
    background-color: #80808020;
  }
  button:active {
    background-color: #80808040;
  }
  .toolbar {
    position: fixed;
    width: calc(100vw - 8px);
    height: 48px;
    top: 0;
    backdrop-filter: blur(8px);
    padding: 4px;
    display: flex;
    border-bottom: 1px solid #80808020;
    /* justify-content: center; */
    -webkit-backdrop-filter: blur(8px);
    /* justify-content: space-between; */
    justify-content: left;
    align-items: center;
  }
  #authentication {
    position: absolute;
    right: 8px;
  }
  .toolbar > * {
    /* align-items: center; */
    display: inline-flex;
    /* text-align: left; */
  }
  .toolbar a {
    text-decoration: none;
  }
  #authenticated > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    max-height: 48px;
  }
  #authenticated > img {
    border-radius: 50%;
    height: 40px;
    padding: 4px 0;
  }
  .toolbar[data-authenticated="true"] > #github-login-button {
    display: none;
  }
  .toolbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
  }
  .toolbar.ready {
    opacity: 1;
  }
  #branding {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-rendering: geometricPrecision;
  }
  .full {
    display: unset !important;
  }

  @media screen and (max-width: 804px) {
    .mid {
      padding: 0 4px;
      display: inline-block;
    }
    #branding > span {
      padding: 0;
    }
  }
  @media screen and (max-width: 320px) {
    .mid {
      display: none;
    }
  }
  @media screen and (max-width: 1139px) {
    .full {
      display: none !important;
    }
    .issue-element-inner {
      display: block;
    }
    #issues-container .labels {
      margin-top: 4px;
    }
    #branding {
      margin: auto;
    }
    .toolbar {
      overflow-x: auto;
      /* margin: 0; */
      /* padding-left: 0; */
      /* display: flex; */
      /* align-items: center; */
    }
    .toolbar button {
      height: 24px;
      padding: 4px 16px;
      line-height: 1;
    }
  }
  @media screen and (max-width: 1280px) {
    body.preview-active {
      overflow: hidden;
    }

    body.preview-active > #issues-container > div,
    body.preview-active > background {
      filter: blur(8px);
      pointer-events: none;
    }
  }
  .toolbar > button {
    text-align: center;
  }
  .filters-container button {
    margin-top: 8px;
    margin-right: 8px;
  }
  #issues-container img {
    height: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    opacity: 0;
    transition: 0.25s opacity ease-in-out;
  }
  #issues-container img[src] {
    opacity: 1;
  }

  background,
  background #grid {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  background #grid {
    /* -webkit-mask-image: radial-gradient(#00000020 0, #00000080 100%); */
    /* mask-image: radial-gradient(#00000020 0, #00000080 100%); */
    pointer-events: none;
  }
  .preview blockquote {
    margin-left: 16px;
    opacity: 0.66;
  }
  .preview sup {
    display: block;
  }
  .preview hr {
    border-color: #ffffff40;
  }
  .preview p {
    line-height: 1.25;
    word-break: break-word;
    margin-bottom: 12px;
    letter-spacing: 0;
    font-size: 16px;
  }
  .preview img {
    max-width: 100%;
  }
  .preview pre {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: scroll;
    height: 48px;
  }
  .preview pre code {
    position: absolute;
    font-family: monospace;
  }
  .preview ol,
  .preview ul {
    padding-left: 12px;
    margin-left: 4px;
  }
  .preview h1 {
    margin: 8px;
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline: 0;
    margin-inline-end: 0;
  }
  .preview a {
    word-break: break-all;
  }
  .preview .preview-header a[href*="//"] svg
  {
    fill: #ffffff80;
    vertical-align: middle;
    height: 20px;
  }

  .preview.active.error .preview-header > a {
    pointer-events: none;
  }
  .preview.active.error .preview-header > a .open-new-link {
    display: none;
  }

  .preview.active.error > div > div.preview-header > a > span.error {
    display: unset;
  }
  .preview.active > div > div.preview-header > a > span.error {
    display: none;
  }
  .preview-body-inner {
    line-height: 1.25;
  }
  .preview-body-inner > :last-child {
    margin-bottom: 0;
  }
  .preview {
    text-align: left;
    position: fixed;
    transition: 0.25s all cubic-bezier(0, 1, 1, 1);
    max-width: 640px;
    border: 1px solid #80808020;
    border-radius: 4px;
    opacity: 0;
    top: 60px;
    /* flex-direction: row; */
    /* display: flex; */
    /* transform: translateX(0); */
    /* flex-wrap: wrap; */
    pointer-events: none;
    /* overflow: hidden; */
    width: calc(100vw - 14px);
  }
  .preview * {
    pointer-events: none;
  }
  .preview.active {
    pointer-events: all;
  }
  .preview.active * {
    pointer-events: all;
  }
  .close-preview svg {
    fill: #ffffff80;
    vertical-align: middle;
    height: 36px;
  }
  .preview.active {
    opacity: 1;
    pointer-events: all;
  }
  .preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }
  .preview-header > a {
    word-wrap: initial;
    text-decoration: none;
    opacity: 0.75;
    display: flex;
    justify-content: right;
    align-items: center;
    width: calc(100% - 72px);
  }
  .preview-header > a:hover {
    opacity: 1;
  }
  .preview-header > a > h1 {
    word-wrap: initial;
    word-break: normal;
    display: inline;
    vertical-align: middle;
    margin-right: 12px;
    text-align: right;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .preview-body {
    overflow: scroll;
    margin: 0;
    border-top: 1px solid #202020;
    padding: 16px;
    max-height: calc(100vh - (80px));
    max-height: calc(100vh - (242px));
    /* border-color: var(--border-color); */
  }
  .preview-content {
    width: 100%;
  }
  .preview button.close-preview {
    right: 0;
    top: 0;
    margin-right: 8px;
    padding: 8px 8px;
    border: none;
    background: 0 0;
    padding: 0;
  }
  .preview button.close-preview:hover svg {
    fill: #fff;
  }
  .preview li {
    margin-bottom: 8px;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1.25;
  }
  .filters-container {
    overflow-x: auto;
  }
  .filters-container input[type="text"] {
    margin: 0 4px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #80808020;
    width: 100%;
    height: 16px;
    text-align: center;
    min-width: 80px;
  }
  .filters-container input[type="text"]::placeholder {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .filters-container input[type="text"].hidden {
    display: none;
  }
  button#github-login-button {
    margin-left: auto;
  }

  p.organization-name::after {
    content: "/";
  }
  input[type="radio"][data-ordering="reverse"] + label:not([for="view-toggle"])::after {
    margin-left: 6px;
    content: "▲";
  }
  input[type="radio"][data-ordering="normal"] + label:not([for="view-toggle"])::after {
    margin-left: 6px;
    content: "▼";
  }
  #bottom-bar {
    top: unset;
    bottom: 0;
    opacity: 1;
    border-top: 1px solid #80808020;
    border-bottom: unset;
  }
  #bottom-bar a {
    text-decoration: none;
  }
  #bottom-bar a button {
    height: 30px;
  }
  .toolbar button {
    white-space: nowrap;
  }

  background #grid {
    pointer-events: none;
  }

  background #grid canvas {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: background-grid-fade-in 3s ease-in-out forwards;
  }

  background .gradient {
    width: 200vw;
    height: 200vh;
    position: absolute;
    opacity: 0;
  }
  .grid-loaded background .gradient {
    background-image: radial-gradient(#00bfff00 0%, #00bfffff 15%, #00bfff00 34%, #00bfffff 58%, #00bfff00 75%, #00bfffff 100%);
    animation: background-gradients-fade-in 3s ease-in-out forwards;
  }
  background > :nth-child(1) {
    transform: translateX(-100vw);
  }
  background > :nth-child(2) {
    transform: translateY(-50vh);
  }

  @keyframes background-gradients-fade-in {
    to {
      opacity: 0.125;
    }
  }
  @keyframes background-grid-fade-in {
    to {
      opacity: 0.5;
    }
  }
  .svg-icon {
    fill: #f8f8f8;
    width: 24px;
    height: 24px;
  }
  .user-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .github-avatar-default {
    width: 48px;
    height: 48px;
    background-color: #808080;
  }

  #view-toggle:checked::after {
    content: "Proposals";
  }
  #view-toggle::after {
    content: "Directory";
    letter-spacing: 1.5px;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    font-size: 16px;
  }

  #view-toggle {
    appearance: none;
  }

  label[for="view-toggle"] {
    margin-left: 8px;
  }

  #git-revision {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-rendering: geometricPrecision;
    vertical-align: middle;
    opacity: 0.25;
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 22px;
    right: 22px;
    text-decoration: none;
  }

  #git-revision:hover {
    opacity: 1;
  }
}
