@media (prefers-color-scheme: dark) {
  :root {
    --grid-background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABigAwAEAAAAAQAAABgAAAAAwf1XlwAAACNJREFUSA3t0IEAAAAMBKFHm7/UTaQQWnXDgAEDBgwYMGDgAXaJAz4RVVHYAAAAAElFTkSuQmCC");
  }
  #logo {
    height: 28px;
    margin-right: 2px;
  }
  #authenticated,
  #branding {
    opacity: 0.5;
    transition: 125ms opacity ease-in-out;
  }
  #authenticated:hover,
  #branding:hover {
    opacity: 1;
  }
  #branding > span {
    padding: 8px;
  }
  body,
  html {
    margin: 0;
    padding: 0;
  }
  * {
    font-family: "Proxima Nova", "Ubiquity Nova", sans-serif;
    color: #fff;
    font-weight: 400;
  }
  @font-face {
    font-family: "Ubiquity Nova";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ubiquity-nova-standard.eot);
    src:
      url(fonts/ubiquity-nova-standard.eot#iefix) format("embedded-opentype"),
      url(fonts/ubiquity-nova-standard.woff) format("woff"),
      url(fonts/ubiquity-nova-standard.ttf) format("truetype");
  }
  #issues-container {
    max-width: 640px;
    /* margin: 0 auto; */
    /* padding: 0 0 56px; */
    /* overflow: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* padding: calc(25vh - 56px) 0; */
    padding: 56px 0;
    /* display: inline-block; */
    /* flex-grow: 2; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
    transition: 0.25s all cubic-bezier(0, 1, 1, 1);
  }
  #issues-container.preview-active {
    transform: translateX(-50%);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  #issues-container .issue-element-inner {
    transition: 125ms opacity ease-out 62.5ms;
  }
  #issues-container:hover .issue-element-inner {
    opacity: 0.5;
  }

  #issues-container * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #issues-container > div:first-child {
    border-top: 1px solid #80808020;
  }
  #issues-container > div:last-child {
    border-top: 1px solid #80808020;
  }
  #issues-container > div {
    padding: 0 16px;
    overflow: hidden;
    background-size: 56px;
    background-position: 0;
    background-repeat: no-repeat;
    opacity: 0.25;
    margin: 3px auto;
    border: 1px solid #80808020;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px;
    /* background-color: #000; */
    filter: blur(4px);
    display: block;
    /* width: 100%; */
  }
  #issues-container > div.active {
    transition: 125ms all ease-in-out;
    opacity: 1;
    filter: blur(0);
  }
  #issues-container > div:hover {
    opacity: 1;
    /* background-color: #80808010; */
    transition: background-color 0s;
  }
  #issues-container > div:hover .info {
    opacity: 1;
  }
  #issues-container > div:hover .issue-element-inner {
    transition: 125ms opacity ease-in-out;
    opacity: 1;
  }
  #issues-container > div:active {
    background-color: #80808040;
  }
  h3 {
    line-height: 1;
    font-size: 16px;
    text-overflow: ellipsis;
    margin: 0;
  }
  #issues-container p {
    text-align: right;
  }

  p {
    margin: 0;
    line-height: 1;
    color: #bfbfbf;
    font-size: 12px;

    letter-spacing: 0.5px;
    text-rendering: geometricPrecision;
    top: 0;
    right: 0;
  }
  li {
    margin: 0;
    line-height: 1;
    color: #bfbfbf;
    font-size: 12px;

    letter-spacing: 0.5px;
    text-rendering: geometricPrecision;
    top: 0;
    right: 0;
  }
  .issue-element-inner {
    position: relative;
    text-align: left;
    display: flex;
    padding: 12px 0;
    align-items: center;
    /* background-color: #00000080; */
  }
  p.organization-name {
    opacity: 0.5;
    display: inline-block;
  }
  p.repository-name {
    display: inline-block;
    margin-left: 2px;
  }
  label:first-child {
    margin-left: 0;
  }
  label {
    padding: 4px 6px;
    border-radius: 4px;
    margin: 0 4px 0;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    background-color: #80808020;
    width: 64px;
    letter-spacing: 0.5px;
    flex-grow: 4;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 16px;
  }
  input[type="radio"] {
    background-color: unset;
    cursor: default;
    appearance: unset;
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }
  #filters label {
    cursor: pointer;
    /* background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2216%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2216%22%3E%3Cpath%20fill%3D%22%23ffffff80%22%20d%3D%22M120-240v-80h240v80H120Zm0-200v-80h480v80H120Zm0-200v-80h720v80H120Z%22/%3E%3C/svg%3E"); */
    /* background-repeat: no-repeat; */
    /* background-position: 4px 4px; */
    /* text-align: right; */
  }
  #filters label:hover {
    background-color: #80808040;
  }
  #filters label:active {
    background-color: #80808080;
  }
  input[type="radio"]:checked + label {
    background-color: #80808080 !important;
  }

  input[type="radio"] + label > .icon > svg {
    fill: #ffffff80;
  }
  input[type="radio"] + label > .active.icon > svg {
    display: none;
  }
  input[type="radio"] + label > .default.icon > svg {
    display: unset;
  }
  input[type="radio"]:checked + label > .default.icon > svg {
    display: none;
  }
  input[type="radio"]:checked + label > .active.icon > svg {
    display: unset;
  }

  .labels {
    display: flex;
    margin-left: auto;
  }
  .partner {
    bottom: 0;
    margin: 0;
  }
  body {
    /* text-align: center; */
    /* background-image: var(--grid-background-image); */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .info {
    opacity: 0.66;
    transition: 125ms opacity ease-in-out;
    align-items: center;
    /* margin: 0 0 0 12px; */
  }
  #issues-container > .issue-element-wrapper {
    opacity: 0.5;
    transition: 0.33s all cubic-bezier(0, 1, 1, 1);
    filter: blur(8px);
  }
  button {
    appearance: unset;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    align-items: unset;
    cursor: pointer;
    box-sizing: unset;
    background-color: unset;
    margin: unset;
    padding-block: unset;
    padding-inline: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    border: 1px solid #80808020;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #80808010;
  }
  button:hover {
    background-color: #80808020;
  }
  button:active {
    background-color: #80808040;
  }
  #toolbar {
    position: fixed;
    width: calc(100vw - 8px);
    height: 48px;
    top: 0;
    backdrop-filter: blur(8px);
    padding: 4px;
    display: flex;
    border-bottom: 1px solid #80808020;
    justify-content: center;
    -webkit-backdrop-filter: blur(8px);
    justify-content: space-between;
    justify-content: space-evenly;
  }
  #toolbar > * {
    align-items: center;
    display: inline-flex;
    text-align: left;
    margin: 0 16px;
    cursor: pointer;
  }
  #authenticated > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    max-height: 48px;
  }
  #authenticated > img {
    border-radius: 50%;
    height: 40px;
    padding: 4px 0;
  }

  #toolbar[data-authenticated="true"] > #github-login-button {
    display: none;
  }
  #toolbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
    /* background-image: var(--grid-background-image); */
  }
  #toolbar.ready {
    opacity: 1;
  }
  #branding {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-rendering: geometricPrecision;
  }
  .full {
    display: unset !important;
  }
  .new-issue {
    position: relative;
  }
  .new-issue::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 4px;
    right: 0;
    background-color: #0ff;
  }

  @media screen and (max-width: 896px) {
    .full {
      display: none !important;
    }
    .issue-element-inner {
      display: block;
    }
    #issues-container .labels {
      /* margin-left: 48px; */
      margin-top: 4px;
    }
    #branding {
      margin: auto;
      margin-left: 12px;
    }
    #branding > span {
      padding: 0;
    }
    #toolbar > * {
      margin: auto;
    }
    #toolbar > button {
      padding: 12px 16px;
    }
  }
  @media screen and (max-width: 1280px) {
    body {
      /* background-color: red; */
    }
    .preview.active {
      position: fixed;
      right: 0;
      transform: translateX(0) !important;
    }
    #issues-container.preview-active {
      transform: translateX(0) !important;
    }
  }
  #toolbar > button {
    text-align: center;
  }
  #filters button {
    margin-top: 8px;
    margin-right: 8px;
  }
  #issues-container img {
    height: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    opacity: 0;
  }

  #issues-container img[src] {
    opacity: 1;
  }

  background,
  background #grid {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  /* html,
  background {
    background-color: #000410;
  } */

  background #grid {
    -webkit-mask-image: radial-gradient(#00000020 0, #00000080 100%);
    mask-image: radial-gradient(#00000020 0, #00000080 100%);
    pointer-events: none;
  }
  .preview p {
    line-height: 1.25;
    word-break: break-word;
    margin-bottom: 12px;
  }
  .preview img {
    max-width: 100%;
  }
  .preview pre {
    /* width: calc(100% - 48px); */
    overflow: scroll;
  }
  .preview code {
    width: 100%;
    white-space: initial;
  }
  .preview ul,
  .preview ol {
    padding-left: 12px;
  }
  .preview h1 {
    margin: 8px;
    /* text-align: center; */
  }
  .preview a {
    word-break: break-all;
  }
  .preview-body-inner {
    /* width: calc(100% - 48px); */
    max-width: 640px;
    overflow: scroll;
  }

  .preview {
    overflow: hidden;
    text-align: left;
    position: fixed;
    /* bottom: 0; */
    /* left: 0; */
    /* width: calc(100vw - 32px); */
    transition: 0.25s all cubic-bezier(0, 1, 1, 1);
    /* display: inline-block; */
    /* background: #000; */
    /* padding: 16px; */
    max-width: 640px;
    border: 1px solid #80808020;
    border-radius: 4px;
    opacity: 0;
    /* position: fixed; */
    top: 64px;
    /* display: flex; */
    flex-direction: row;
    /* flex-grow: 4; */
    display: flex;
    transform: translateX(0%);
    flex-wrap: wrap;
    overflow: scroll;
    max-height: calc(100vh - 71px);
    pointer-events: none;
  }
  .close-preview svg {
    fill: #ffffff80;
  }
  .preview.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(50%);
  }
  .preview-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 8px;
  }
  .preview-header > a  {word-wrap: initial;}
  .preview-header > a > h1 {
    word-wrap: initial;
    word-break: normal;
  }
  .preview-body {
    margin: 16px;
    overflow: scroll;
    width: calc(100% - 48px);
  }
  .preview-content {
    /* padding: 16px; */
    width: 100%;
  }
  .preview button.close-preview {
    /* height: 100%; */
    /* display: block; */
    /* position: absolute; */
    right: 0;
    top: 0;
    margin: 8px;
    /* height: 48px; */
  }
  .preview li {
    margin-bottom: 8px;
  }
}
