@media (prefers-color-scheme: dark) {
  :root {
    --grid-background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABigAwAEAAAAAQAAABgAAAAAwf1XlwAAACNJREFUSA3t0IEAAAAMBKFHm7/UTaQQWnXDgAEDBgwYMGDgAXaJAz4RVVHYAAAAAElFTkSuQmCC");
  }

  #logo {
    height: 28px;
    margin-right: 2px;
  }
  #branding {
    opacity: 0.5;
    transition: 0.125s opacity ease-in-out;
  }
  #branding:hover {
    opacity: 1;
  }
  #branding > span {
    padding: 8px;
    /* line-height: 1; */
  }
  html,
  body {
    margin: 0;
    padding: 0;
    background-image: var(--grid-background-image);
  }

  * {
    font-family: "Proxima Nova", "Ubiquity Nova", sans-serif;
    color: #fff;
    font-weight: 400;
  }
  @font-face {
    font-family: "Ubiquity Nova";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/ubiquity-nova-standard.eot);
    src:
      url(./fonts/ubiquity-nova-standard.eot#iefix) format("embedded-opentype"),
      url(./fonts/ubiquity-nova-standard.woff) format("woff"),
      url(./fonts/ubiquity-nova-standard.ttf) format("truetype");
  }

  #issues-container {
    /* padding: 8px; */
    max-width: 640px;
    margin: auto;
    /* border-left: 1px solid #80808010; */
    padding: 0 0 48px;
    /* background: linear-gradient(to bottom, #80808000 0%, #808080ff 15%, #808080ff 85%, #80808000 100%); */
    -webkit-mask-image: linear-gradient(to bottom, #00000000, #000000ff 0%, #000000ff 75%, #00000000 100%);
    height: calc(100vh - 96px);
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  #issues-container:hover .issue-element-inner {
    opacity: 0.5;
    transition: 0.125s opacity ease-in-out;
  }

  #issues-container * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #issues-container > div:first-child {
    border-top: 1px solid #80808020;
  }
  #issues-container > div:last-child {
    border-top: 1px solid #80808020;
  }

  #issues-container > div {
    padding: 0 16px;
    overflow: hidden;
    background-size: 56px;
    background-position: 0;
    background-repeat: no-repeat;
    opacity: 0.25;
    margin: 3px auto;
    border: 1px solid #80808020;
    border-radius: 4px;
    cursor: pointer;
  }

  #issues-container > div.active {
    transition: 0.125s all ease-in-out;
    margin-left: 1px;
    opacity: 1;
    filter: blur(0px);
  }

  #issues-container > div:hover {
    /* background-position: 9px calc(100% - 9px); */
    opacity: 1;

    background-color: #80808010;
    transition: background-color 0s;
  }

  #issues-container > div:hover .info {
    opacity: 1;
  }
  #issues-container > div:hover .issue-element-inner {
    transition: 0.125s opacity ease-in-out;
    opacity: 1;
  }
  #issues-container > div:active {
    /* border-left: 4px solid #00ffff; */
    background-color: #80808040;
  }

  h3 {
    /* margin: 0 0 0 12px; */
    line-height: 1;
    font-size: 16px;
    text-overflow: ellipsis;
    margin: 0;
  }

  p {
    margin: 0;
    line-height: 1;
    color: #bfbfbf;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.5px;
    text-rendering: geometricPrecision;
    top: 0;
    right: 0;
  }

  .issue-element-inner {
    position: relative;
    text-align: left;
    display: flex;
    padding: 12px 0px;
  }

  p.organization-name {
    opacity: 0.5;
    display: inline-block;
  }
  p.repository-name {
    display: inline-block;
    margin-left: 2px;
  }
  .labels > .label:first-child {
    margin-left: 0;
  }
  .labels > .label {
    /* display: inline-block; */
    padding: 4px 6px;
    border-radius: 4px;
    margin: 0px 4px 0px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    background-color: #80808020;
    width: 64px;
    letter-spacing: 0.5px;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 16px;
  }
  .labels {
    /* text-align: right; */
    /* display: inline-block; */
    display: flex;
    /* justify-content: center; */
    margin-left: auto;
  }

  .partner {
    bottom: 0;
    /* text-align: right; */
    /* margin: 4px 4px 0; */
    margin: 0;
  }

  body {
    text-align: center;
  }
  .info {
    opacity: 0.66;
    transition: 0.125s opacity ease-in-out;
    /* display: flex; */
    align-items: center;
    margin: 0 0 0 50px;
  }

  .title {
    /* display: flex; */
    /* align-items: center; */
  }

  .label.pricing {
  }

  #issues-container > .issue-element-wrapper {
    opacity: 0.5;
    /* margin-left: 100vw; */
    transition: 0.33s all cubic-bezier(0, 1, 1, 1);
    filter: blur(8px);
  }

  button {
    appearance: unset;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    align-items: unset;
    cursor: pointer;
    box-sizing: unset;
    background-color: unset;
    margin: unset;
    padding-block: unset;
    padding-inline: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    border: 1px solid #80808020;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #80808010;
  }
  button:hover {
    background-color: #80808020;
  }
  button:active {
    background-color: #80808040;
  }

  #toolbar {
    position: fixed;
    width: 100vw;
    height: 48px;
    /* background: red; */
    bottom: 0;
    backdrop-filter: blur(8px);
    padding: 4px;
    display: flex;
    /* text-align: right; */
    border-top: 1px solid #80808020;
    /* text-align: center; */
    /* align-items: stretch; */
    justify-content: center;
    -webkit-backdrop-filter: blur(8px);
    /* display: flex; */
    justify-content: space-between;
    /* align-items: flex-end; This will align the items to the bottom of the container */
    /* width: 100%; */
    /* padding: 0 16.66%; Adding padding to the container so that items align approximately at 33% and 66% */
  }
  #toolbar > * {
    /* justify-content: center; */
    align-items: center;
    display: inline-flex;
    text-align: left;
    margin: 0 16px;
  }
  /* #toolbar > *:first-child {
  padding-left: 16px;
}
#toolbar > *:last-child {
  padding-right: 16px;
} */
  #authenticated > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    max-height: 48px;
  }
  #authenticated > img {
    border-radius: 50%;
    height: 40px;
    padding: 4px 0;
  }

  #toolbar[data-authenticated] > * {
    /* opacity: 0; */
    /* transition: 1s opacity ease-in-out; */
  }
  #toolbar[data-authenticated="true"] > #github-login-button {
    display: none;
  }

  #toolbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
    background-image: var(--grid-background-image);
  }

  #toolbar.ready {
    opacity: 1;
  }

  #branding {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-rendering: geometricPrecision;
  }

  .full {
    display: unset !important;
  }
  .new-issue {
    position: relative;
  }
  .new-issue::before {
    content: ""; /* This is required for the pseudo-element to display */
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 4px;
    right: 0px; /* Position the pseudo-element to the right of the .new-issue element */
    background-color: #00ffff; /* Example background color */
  }

  @media screen and (max-width: 640px) {
    .full {
      display: none !important;
    }
    .issue-element-inner {
      display: block;
    }
    .labels {
      margin-left: 48px;
      margin-top: 4px;
    }
  }

  #toolbar > button {
    text-align: center;
  }
}
